{% extends "base.html" %} {% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }}. Go to <a href="{{ url_for('auth.login') }}">login page</a>.
        </div>
{% endif %}
{% endwith %}

<div class="box">
    <h1>{{ question.question_text | safe }}</h1>
</div>

<div class="box">
    <form action="/answers" method="POST">
        <input type="hidden" name="question_id" value="{{ question.id }}" />
        <label for="answer">Type your own answer: </label>
        <br>
        <input type="text" id="answer" name="answer" />
        <br><br>
        <input type="submit" value="Submit" />
    </form>
</div>


<div class="box">
    <h1>Answers:</h1>
    {% for answer in answers|reverse %}

        <p>{{ answer.answer_text }}</p>

    {% endfor %}
</div>
{% endblock %}